{% extends 'base.html' %}
{% load crispy_forms_tags %}
    {% block content %}
  <div class="row">
        <div class="col-8 offset-2 d-flex justify-content-center">
            <h1>Get a Quote</h1>
        </div>
        <div class="col-8 offset-2 d-flex justify-content-center">
		    <h4>Request a quote using the form below and we will get back to you within 48 hours. </h4>
        </div>
        <div class="col-8 offset-2 d-flex justify-content-center">
            <p>Please give us much information about the work you require</p>
        </div>
    </div>
  <form method="post" id="contactform">
    <div class="row">
        <div class="col-8 offset-2 col-md-6 offset-md-3">
            {% crispy form %}
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <div class="g-recaptcha" data-sitekey="6Lee148aAAAAAIXAn7tovPfLMs_Xl91NZD87hESh"></div>
      <br/>
      <div class="row no-gutters col-4 offset-4">
      <input type="submit" value="Send Details" class="footer-button justify-content-center d-flex">
        </div>
        </div>
    </form>
 {% endblock content %}
