{% extends 'base.html' %}
{% load crispy_forms_tags %}
    {% block content %}
  <div class="row">
        <div class="col-8 offset-2 d-flex justify-content-center">
            <h1>Get a Quote</h1>
        </div>
        <div class="col-8 offset-2 d-flex justify-content-center">
		    <h4>Request a quote using the form below and we will get back to you within 48 hours. </h4>
        </div>
        <div class="col-8 offset-2 d-flex justify-content-center">
            <p>Please give us much information about the work you require</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            {% crispy form %}
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

        <script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>
        <script>
          // 3
          grecaptcha.ready(function() {
              // 4
              $('#contactform').submit(function(e){
                  var form = this;
                  // 5
                  e.preventDefault()
                  grecaptcha.execute('reCAPTCHA_site_key', {action: 'contactform'}).then(function(token) {
                      // 6
                      $('#recaptcha').val(token)
                      // 7
                      form.submit()
                  });
              })

          });
         </script>
 {% endblock content %}
