
/*----------------------Footer Styling---*/

ul {
  list-style-type: none;
}

.fa {
    font-size: 75px;
    color: black;

}

.fa:hover{
    color: white; }



/*----------------------Beautiful Colors---*/
body, header, footer {
    background-color: #5D5C61;
    color: #7395AE;
}

/*----------------------NavBar Settings---*/

.navbar-brand, .navbar, .navbar-collapse, .navbar-nav {
    background-color: #5D5C61;
    color: #7395AE;
}
