{% extends 'base.html' %}
    {% block content %}
    <div class="row no-gutters p-4">
        <div class="col-12 col-sm-8 offset-sm-2 justify-content-center d-flex">
            <h1>Merchandise</h1>
        </div>
        <div class="col-12 col-sm-8 offset-sm-2 justify-content-center d-flex">
            <p>Buy our products today and we will deliver within 2 working days straight to your door. Tired of spending
            money on expensive labour, we go you covered. Time to get your hands dirty(well we have done the hard part for you)
            Enjoy making our well thought out designs or be creative and send us your measurements.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row mt-1 mb-2">

            </div>
            <div class="row no-gutters">
                    {% for merchandise in object_list %}
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div class="card h-100 border-0">
                        <img class="card-img-top img-fluid w-100" src="{{ merchandise.cover.url }}" alt="{{ merchandise.title }}">
                        <div class="card-body">
                            <h5 class="mb-0">{{ merchandise.title }}</h5>
                                <p class="mb-0">{{ merchandise.description}}</p>
                                    <form class="form" action="{% url 'add_to_shoppingbag' merchandise.id %}" method="POST">
                                            {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-4">
                                                <p class="mb-3"><strong>Quantity:</strong></p>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ merchandise.id }}" id="id_qty_{{ merchandise.id }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                                <input type="submit" class="btn btn-black text-uppercase" value="Add to Bag">
                                        
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </form>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">£{{ merchandise.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
</div>
    {% endblock content %}