{% extends "base.html" %}
    {% block content %}
<div class="row no-gutters p-5">
    <div class="col-10 offset-1 justify-content-center d-flex">
        <h2>{{ object.title }}</h2>
    </div>
</div>
<div class="row no-gutters p-2">
    <div class="col-3 offset-2 justify-content-center d-flex">
        <img src="{{ object.cover.url}}" alt="{{ object.title }}" class="img-fluid rounded">
    </div>
    <div class="col-6 justify-content-center d-flex">
        <p>{{ object.body }}</p>
    </div>
</div>
<div class="row no-gutters pb-4">
    <div class="offset-4 col-4">
        <div class="justify-content-center d-flex">
            <a style="text-decoration: none;" class="d-flex justify-content-center p-2 footer-button linkstyle rounded" href="{% url 'draping' %}">Draping</a>
        </div>
    </div>
</div>


    {% endblock %}
