{% extends 'base.html' %}
    {% block content %}
    <div class="row no-gutters p-4">
        <div class="col-8 offset-2 justify-content-center d-flex">
            <h1>Event & Theatrical Draping</h1>
        </div>
        <div class="col-8 offset-2 justify-content-center d-flex">
            <p>We are proud to be able to offer Event & Theatrical draping. Whether you are hosting a private party or trying to cover
            up those dinosaurs at The Natural History Museum we have got you covered. See below a variety of different kinds of draping
            we have available, if interested or need more information please request a quote and we will endeavour to get back to you. 
            Let us say no longer than 48 hours. 
            </p>
        </div>
    </div>
<div class="row no-gutters">
    {% for drapes in object_list %}
    <div class="col-4 justify-content-center d-flex post-entry p-4">
        <img src="{{ drapes.cover.url }}" alt="{{ object.title }}" class="img-fluid w-50 h-75">
<div class="row no-gutters">
    <div class="post-entry col-4 justify-content-center d-flex p-4">
            <h2 class="linkstyle"><a href="{% url 'drapinginfo' drapes.pk %}">{{ drapes.title }}</a></h2>
    </div>
    </div>

    </div>
    {% endfor %}
    </div>
    {% endblock content %}
