{% extends 'base.html' %}
    {% block content %}
    <div class="row no-gutters">
        <div class="col-8 offset-2 justify-content-center d-flex">
            <h1>Event & Theatrical Draping</h1>
        </div>
        <div class="col-8 offset-2 justify-content-center d-flex">
            <p>We are proud to be able to offer Event & Theatrical draping. Whether you are hosting a private party or trying to cover
            up those dinosaurs at The Natural History Museum we have got you covered. See below a variety of different kinds of draping
            we have available, if interested or need more information please request a quote and we will endeavour to get back to you. 
            Let us say no longer than 48 hours. 
            </p>
        </div>
    </div>
  
    {% for drapes in object_list %}
    <div class="drape-entry">
        <h2><a href="">{{drapes.title}}</a></h2>
    </div>
    {% endfor %}
    {% endblock content %}
