{% extends "base.html" %}
    {% block content %}
<<div class="row no-gutters p-5">
    <div class="col-10 offset-1 justify-content-center d-flex">
        <h2>{{ object.title }}</h2>
    </div>
</div>
<div class="row no-gutters p-2">
    <div class="col-5 offset-1 justify-content-center d-flex">
        <img src="{{ object.cover.url}}" alt="{{ object.title }}" class="img-fluid rounded">
    </div>
    <div class="col-6 justify-content-center d-flex">
        <p>{{ object.body }}</p>
    </div>
</div>
<div class="row no-gutters pb-4">
    <div class="justify-content-center d-flex">
        <a style="text-decoration: none;" class="d-inline justify-content-center p-4 footer-button linkstyle rounded" href="{% url 'draping' %}">Back to Drapes</a>
    </div>
</div>


    {% endblock %}
