/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


/*----------------------Footer Styling---*/
.fab, .fa {
    color: #7395AE;

}

.fab:hover, .fa:hover {
    color: #7395AE}

.footer-button {
    background-color: #7395AE;
    color: #5D5C61;
    -webkit-text-emphasis: bold;
            text-emphasis: bold;
    font-size: 24px;
    text-transform: uppercase;

}

.footer-button:hover {
    color: #7395AE;
    background-color: #5D5C61;
}



/*----------------------Beautiful Colors---*/
body, header, footer {
    background-color: #b1a296;
    color: #5D5C61;
}

/*----------------------NavBar Styling---*/

.navbar-grey{
    background-color: #7395AE;
    color: #5D5C61;
    padding: 2;
    margin: 2;
    font-size: large;

}

/*----------------------Link Styling----*/

.linkstyle:hover, .linkstyle:visited, .linkstyle{
    color: #5D5C61;
    text-decoration: none;
}