<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="undefined" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://js.stripe.com/v3/"></script>
    <title>Tyser&Allan</title>
</head>
<body>
<header>
    <div class="row">
        <div class="col-12 offset-md-3 col-md-6 d-flex justify-content-center">
            {% load static %}
                <img src="{% static 'images/talogo.png' %}" alt="My image" class="img-fluid h-100 w-25">
        </div>
    </div>
    <div class="row no-gutters navbar-grey">
        <div class="col-12 col-md-12 d-md-flex justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-light navbar-greym pr-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'draping' %}">Draping</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'landscaping' %}">Landscaping</a>
        </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'merchandise' %}" id="navbarDropdownn" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Merchandise
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownn">
            <li><a class="dropdown-item" href="{% url 'merchandise' %}">Merchandise</a></li>
            <li><a class="dropdown-item" href="{% url 'account_login' %}">Log In</a></li>
            <li><a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a></li>
            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a></li>
            <li> <a class="{% if grand_total %} {% else %}text-black{% endif %} dropdown-item" href="{% url 'view_shoppingbag' %}">
                                <div>Shopping Bag</div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        £0.00
                                    {% endif %}
                                </p>
                            </a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="{% if grand_total %} {% else %}text-black{% endif %} nav-link" href="{% url 'view_shoppingbag' %}">
                                <p class="my-0">Shopping Bag @
                                    {% if grand_total %}
                                        £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        £0.00
                                    {% endif %}
                                </p>
                            </a>
        </li>
        </ul>
    </div>
  </div>
  
</nav>
</div>
</div>
</header>
    {% block content %}
    {% endblock content %}

 <footer>
    <div class="row no-gutters">
        <div class="col-4 col-md-3 justify-content-center d-flex">
                <img src="{% static 'images/talogo.png' %}" alt="My image" class="img-fluid h-75 w-75 w-sm-50">
        </div>
        <div class="col-8 col-md-3 justify-content-center d-flex">
            <h4>Bought to you by Mark Allan and Oliver Tyser. We accept payment in beer or cold hard cash!</h4>
        </div>
            <div class="col-6 col-md-3 p-0 p-md-none">
                <a class="linkstyle d-flex justify-content-center p-4 footer-button rounded" style="text-decoration: none;" href="{% url 'contact' %}">Get a Quote</a>
            </div>
        <div class="col-6 col-md-3">
            <a href="#" aria-hidden="true" target="_blank"><i class="fa fa-facebook-square p-2 d-inline justify-content-center"></i></a>
             <a href="#" aria-hidden="true" target="_blank"><i class="fa fa-instagram p-2 d-inline justify-content-center"></i></a>
        </div>
    </div>
</footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
 <script src="https://js.stripe.com/v3/"></script>
</html>