
/*----------------------Footer Styling---*/

ul {
  list-style-type: none;
  color: black;
  font-size: 20px;
}

.fa {
    font-size: 75px;
    color: #5D5C61;

}

.fa:hover{
    color: #379683;}

.footer-button {
    background-color: #379683;
    color: #5D5C61;
    text-emphasis: bold;
    font-size: 24px;
    text-transform: uppercase;

}



/*----------------------Beautiful Colors---*/
body, header, footer {
    background-color: #b1a296;
    color: #5D5C61;
}

/*----------------------NavBar Settings---*/

.navbar-custom{
    background-color: #5D5C61;
    color: #7395AE;
    border-color: #5D5C61;
    padding: 0;
    margin: 0;
}

/*----------------------Link Styling----*/

.linkstyle:hover, .linkstyle:visited, .linkstyle{
    color: #5D5C61
}