
/*----------------------Footer Styling---*/
.fa {
    font-size: 75px;
    color: #5D5C61;

}

.fa:hover{
    color: #379683;}

.footer-button {
    background-color: #379683;
    color: #5D5C61;
    text-emphasis: bold;
    font-size: 24px;
    text-transform: uppercase;

}

.footer-button:hover {
    color: #379683;
    background-color: #7395AE;
}



/*----------------------Beautiful Colors---*/
body, header, footer {
    background-color: #b1a296;
    color: #5D5C61;
}

/*----------------------NavBar Styling---*/

.navbar-grey{
    background-color: #b1a296;
    color: #7395AE;
    border-color: #5D5C61;
    padding: 2;
    margin: 2;
    font-size: large;

}

/*----------------------Link Styling----*/

.linkstyle:hover, .linkstyle:visited, .linkstyle{
    color: #5D5C61;
    text-decoration: none;
}